#body-color{
	background-color:rgb(192,192,192); 
}
#Sign{
	margin-top:9%;
	margin-bottom:0%;
	margin-right:0%; 
	margin-left:27%;
	width: 40%;
	border:3px solid #a1a1a1;
	padding:9px 35px; 
	background:rgb(255,127,39);
	border-radius:20px; 
	box-shadow: 7px 7px 6px;
	font-size: 24px;
} 
#button{
	border-radius:10px;
	float: right;
	width:120px;
	height:40px;
	background:rgb(102,102,102); 
	font-weight:bold;
	font-size:20px;
}

